body{
    background-color: rgb(236, 203, 142);
}

.topbar{
    background-color: rgb(216, 143, 7);
    align-items: center;
    padding: 10px 30px;
    margin-top: 40px;
	margin-right: 40px;
	margin-left: 40px;
	display: flex;
	justify-content: space-between;
	height: 60px;
}

.logobox{
    display: flex;
    align-items: center;
}

.logo{
	margin-right: 10px;
	height: 55px;
	width: 55px;
}

a{
	font-size: 17px;
	color: white;
	padding-right: 60px;
}

.navigation{
    color: white;
}

.backhomepage{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 3px rgb(124 45 14);
    text-align: center;
    align-content: center;
    margin-left: 15px;
}

/* ----------------------- Addtional stuff can be added below ----------------------- */

.turns{
    text-align: center;
    color:rgb(124 45 14);
    text-shadow: 2px 2px 3px white;

}

.p1score{
    text-align: center;
    color: rgb(124, 45, 14);
    text-shadow: 1px 1px 2px rgb(216, 143, 7);
}

.p2score{
    text-align: center;
    color: rgb(124, 45, 14);
    text-shadow: 1px 1px 2px rgb(216, 143, 7);
}

.wins{
    text-align: center;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 3px rgb(124 45 14);
}

.card_row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card_div{
    box-shadow: 2px 2px 5px rgb(216, 143, 7);
    width: 100px;
    height: 150px;
    border: 2px solid rgb(124 45 14);
    margin: 20px;
    background-color: white;
}

.card_div img{
    width: 100px;
    height: 150px;
    object-fit: cover;
}

.restart{
    background-color: rgb(216, 143, 7);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 20px;
}