body{
    background-color: rgb(236, 203, 142);
}

.topbar{
    background-color: rgb(216, 143, 7);
    align-items: center;
    padding: 10px 30px;
    margin-top: 40px;
	margin-right: 40px;
	margin-left: 40px;
	display: flex;
	justify-content: space-between;
	height: 60px;
}

a{
	font-size: 17px;
	color: white;
	padding-right: 60px;
}

.navigation{
    color: white;
}

.backhomepage{
    text-decoration: none;
    color: rgb(124 45 14);
    text-shadow: 2px 2px 5px white;
}

.card_row{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.card_div{
    box-shadow: 2px 2px 5px orange;
    width: 100px;
    height: 150px;
    border: 2px solid rgb(124 45 14);
    margin: 20px;
    background-color: white;
}